---
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main class="space-y-16 sm:space-y-32 py-14 sm:py-28">
    <Hero />
    <Experience />
    <Projects />
    <Skills />
    <Education />
    <Contact />
  </main>
  <Footer />
</Layout>
